@using Microsoft.AspNetCore.Mvc.Localization
@using InternshipManagementSystem.Localization
@inject IHtmlLocalizer<InternshipManagementSystemResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
